/* #1.5 wrap, nowrap, reverse, align-content */
.father {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  /* wrap, nowrap 
      nowrap은 기본값이며 크기를 지키지 않는다, wrap은 크기를 보존한다.
    */
  /* flex-wrap: wrap; */
  flex-wrap: nowrap;

  /* reverse */
  /* 반전효과 */
  /* flex-direction: row-reverse; */

  /* align-content */
  /*
      cross-axis의 기본적인 사이사이 빈 공간을 무시하고 위치를 정렬한다.
    */
  align-content: flex-start;
}

.child {
  width: 200px;
  height: 200px;
  background-color: plum;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
