/* #1.3 Main Axis and Cross Axis */
.wrapper {
  display: flex;
  flex-direction: column;
  /* Main Axis */
  justify-content: center;
  /* Cross Axis */
  align-items: center;
  height: 200vh;
}

.box {
  width: 200px;
  background-color: plum;
  color: white;
}
