doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title My Practice Images
    body 
        header 
            nav 
                ul 
                    li Graphic Design 
                    li Typography
                ul 
                    li Journal 
        div.main 
            h4 My practice Images
            h3 A collection of graphic designs
            a(href="#") SHOP NOW
        section.under-main        
            img(src="img/Space.jpg")       
            div.under-main__content 
                div.wrapper
                    h3 This is the page that I practiced about CSS/SCSS and These may not work. But, I'm practicing design and development and improving those.
                    a(href="#") Book now
        section.blog 
            article.blog__post 
                img(src="img/Ubuntu.jpg")
                div.post__content 
                    span.post__date  Dec 20, 2022
                    h4 3D Blend effect - Ubuntu
                    a(href="#") Read Story 
            article.blog__post 
                img(src="img/Noto-Sans-KR.jpg")
                div.post__content 
                    span.post__date  Dec 20, 2022
                    h4 3D Blend effect - Noto-Sans-KR
                    a(href="#") Read Story 
            article.blog__post 
                img(src="img/Noto-Sans-SC.jpg")
                div.post__content 
                    span.post__date  Dec 20, 2022
                    h4 3D Blend effect - Noto-Sans-SC
                    a(href="#") Read Story 
        section.gallery 
            div.gallery__poster 
                img(src="img/Space.jpg")
            div.gallery__poster 
                img(src="img/Destroy.jpg")
            div.gallery__poster 
                img(src="img/Space.jpg")
            div.gallery__poster 
                img(src="img/Destroy.jpg")
            div.gallery__poster 
                img(src="img/Space.jpg")
            div.gallery__poster 
                img(src="img/Destroy.jpg")    
            div.gallery__poster 
                img(src="img/Space.jpg")
            div.gallery__poster 
                img(src="img/Destroy.jpg")
        footer.footer 
            div.footer__column 
                span.column__title Support 
                ul 
                    li F.A.Q
                    li Privacy Policy
                    li Terms And Conditions
                    li Accessibility
            div.footer__column 
                span.column__title Follow Us 
                ul 
                    li Twiter
                    li Instargram
                    li pinterest
            div.footer__column 
                span.column__title Support 
                ul 
                    li F.A.Q
                    li Privacy Policy
                    li Terms And Conditions
                    li Accessibility        