@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Yrsa:wght@400;500&display=swap");

@import ".reset.scss";
@import ".variable.scss";
@import ".title.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  margin-top: 60px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 10%;
  height: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: white;
  h1 {
    place-self: center center;
    font-family: "Yrsa";
  }
  > span {
    justify-self: end;
  }
  nav {
    ul {
      display: flex;
      font-family: "Montserrat", sans-serif;
      li:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  .logo {
    font-size: 48px;
    font-weight: 500;
    display: flex;
    div {
      transform: rotateZ(-15deg);
      margin: 0px -3px;
    }
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: calc(100vh - 60px);
  .main__img {
    background-image: url("../img/Space.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    padding: 10px 10px;
    font-size: 30px;
  }
  .main__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      font-size: 45px;
      text-align: center;
      width: 65%;
      font-weight: 500;
      margin-bottom: 40px;
    }
    span {
      font-size: 12px;
    }
  }
}

a {
  font-weight: 600;
  color: $orange;
}

.banner {
  background-color: $yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  h3 {
    font-family: "Yrsa";
    font-size: 56px;
    margin-bottom: 30px;
  }
  p {
    width: 60%;
    text-align: center;
    font-family: "Yras";
    font-size: 30px;
    margin-bottom: 30px;
  }
  span {
    font-size: 12px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 50vh;
  .gallery__item {
    &:first-child,
    &:nth-child(5),
    &:nth-child(7),
    &:nth-child(10) {
      grid-column-start: span 2;
    }
    .gallery__background {
      height: 100%;
      background-size: cover;
      background-position: center;
      background-image: url("../img/Destroy.jpg");
      transition: all 0.2s linear;
      cursor: pointer;
      overflow: hidden;
      &:hover {
        filter: blur(50px);
      }
    }
    .gallery__text {
      height: 100%;
      font-size: 20px;
      color: white;
    }
  }
}
